/* Dark mode */
body.dark-mode {
    background-color: #121212;
    color: white;
}

nav.dark-mode {
    background-color: #333;
}

a.dark-mode {
    color: #bb86fc;
}

input.dark-mode {
    background-color: #333;
    color: white;
}
